<div class="footer">
    <div class="logo">
        <img src="../../assets/FooterColor/logo.png" alt="logo">
    </div>
    <div class="links">
        <div class="text_links">
            <router-link to="/record">相揪紀錄</router-link>
            <router-link to="/product">推薦商品</router-link>
        </div>
        <div class="ball_links">
            <router-link to="/football">
                <img src="../../assets/FooterColor/li_1.png">
            </router-link>
            <router-link to="/basketball">
                <img src="../../assets/FooterColor/li_2.png">
            </router-link>
            <router-link to="/tennis">
                <img src="../../assets/FooterColor/li_3.png">
            </router-link>
            <router-link to="/volleyball">
                <img src="../../assets/FooterColor/li_4.png">
            </router-link>
            <router-link to="/tabletennis">
                <img src="../../assets/FooterColor/li_5.png">
            </router-link>
        </div>
    </div>
    <p class="copyright">COPY RIGHT BY YUNI0107</p>
</div>