<div class="login_page">
    <section class="log_place_1">
        <div class="color_board"></div>
        <video autoplay muted loop>
            <source src="../../assets/Login/play_ball.mp4"type="video/mp4">
        </video>
        <div class="log_left">
            <div class="big_title">
                <img src="../../assets/Login/big_title.png">
            </div>
            <div class="desc">
                <div class="desc_each">
                    <div class="desc_pic">
                        <img src="../../assets/Login/mini_A.gif">
                    </div>
                    <div class="desc_text">
                        <h2>最新體育新聞</h2>
                        <p>五大台灣最夯球類運動，<br>告訴你最新運動賽事以及新聞不錯過！</p>
                    </div>
                </div>
                <div class="desc_each">
                    <div class="desc_pic">
                        <img src="../../assets/Login/mini_B.gif">
                    </div>
                    <div class="desc_text">
                        <h2>記錄你的所有球聚</h2>
                        <p>在網頁紀錄相揪紀錄，<br>設立每個月的揪團目標，相揪地點導航。</p>
                    </div>
                </div>
                <div class="desc_each">
                    <div class="desc_pic">
                        <img src="../../assets/Login/mini_C.gif">
                    </div>
                    <div class="desc_text">
                        <h2>推薦適合您的商品</h2>
                        <p>與各大品牌廠商合作，<br>根據紀錄的球聚推薦你的專屬球類單品。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="log_right">
            <div class="log_google">
                <h1>START TO USE 開始</h1>
                <div class="google_desc">
                    <div class="pic_hold">
                        <div class="pic">
                            <img src="../../assets/Login/google.png">
                        </div>
                        <div class="pic">
                            <img src="../../assets/Login/map.png">
                        </div>
                    </div>
                    <p>
                        設定自己的暱稱，<br>開始記錄自己每個月的打球相揪次數吧！
                    </p>
                </div>
                <input type="text" placeholder="您的暱稱 Username or Nickname" class="user" v-model.trim="username">
                <input type="password" :class="{ err: password_err }" placeholder="您的密碼 Password" class="password" v-model.trim="password">
                <p class="password_err" v-show="password_err">密碼只能是20位以內英文、數字，請重新輸入</p>
                <button class="btn1" @click="checkLogin">登入帳戶</button>
                <button class="btn2" @click="createUser">創立帳戶</button>
            </div>
        </div>
    </section>
    <section class="log_place_2">
        <div class="desc">
            <div class="desc_each">
                <div class="desc_pic">
                    <img src="../../assets/Login/mini_A.gif">
                </div>
                <div class="desc_text">
                    <h2>最新體育新聞</h2>
                    <p>五大台灣最夯球類運動，<br>告訴你最新運動賽事以及新聞不錯過！</p>
                </div>
            </div>
            <div class="desc_each">
                <div class="desc_pic">
                    <img src="../../assets/Login/mini_B.gif">
                </div>
                <div class="desc_text">
                    <h2>記錄你的所有球聚</h2>
                    <p>自動串連Google行事曆，<br>設立每個月的揪團目標，相揪地點導航。</p>
                </div>
            </div>
            <div class="desc_each">
                <div class="desc_pic">
                    <img src="../../assets/Login/mini_C.gif">
                </div>
                <div class="desc_text">
                    <h2>推薦適合您的商品</h2>
                    <p>與各大品牌廠商合作，<br>根據紀錄的球聚推薦你的專屬球類單品。</p>
                </div>
            </div>
        </div>
    </section>
    <BackTop/>
    <FooterDown/>
</div>